<html>
<head>
  <meta charset="UTF-8">
  <title>MoneyFriends</title>
</head>
<body>
  <% if user_signed_in? %>
      Welcome:
      <%= link_to "Logout", destroy_user_session_path, :method => 'delete' %>
  <% else %>
      <%= render 'devise/sessions/form' %>
      <%= link_to "Login", new_user_session_path %>
      <br>
      <%= render 'devise/registrations/signup' %>
      <%= link_to "Sign In", new_user_session_path %>
  <% end %>
<hr>

<div id="outrpc28">json goes here</div>

</body>
</html>