<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
            <%= render "devise/shared/logos" %>
            </a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
              <%= link_to "Logout", destroy_user_session_path, :method => 'delete', :class => "fa fa-sign-out fa-fw" %>
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

              <%= render "devise/shared/menu" %>

            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">

      <% if page? %>
        <%= render "devise/pages/#{request.GET.first.first}" %>
      <% else %>
      <%= render "devise/pages/table" %>        
      <% end %>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
